body {
    margin: 0;
    overflow: hidden;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black; /* Initial background color */
    transition: background-color 0.1s ease-in-out; /* Smooth color change */
}

#signal-box {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#instruction {
    color: white;
    font-family: Arial, sans-serif;
    font-size: 4em;
    text-align: center;
    user-select: none; /* Prevent text selection */
}